<%= form_for(@post) do |f| %>
　<div class="field">
    <%= f.text_field :title, placeholder: "書いて！", class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "つぶやけ！", class: 'form-control' %>
  </div>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', placeholder: "何見せる？", class: 'form-control' %>
  </span>
  <%= f.submit "Post", class: "btn btn-success btn-lg" %>
<% end %>