<!DOCTYPE html>
<html>
  <head>
    <title>Inu</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.present? %>
    　<header>
        <div class="header-logo">
          <%= link_to("I n U", posts_path, class: 'text-danger') %>
          <span class="header-user"><%= "#{current_user.male_name}" %></span>
          <span class="header-date"><%= "Since #{current_user.dating_start_date}"%></span>
        </div>
        <ul class="header-menus">
          <li>
            <%= link_to(users_show_path) do %>
              <span class="glyphicon glyphicon-user text-danger" aria-hidden="true" style="font-size: 20px"></span>
            <% end %>
          </li>
          <li>
            <%= link_to(destroy_user_session_path, method: :delete) do %>
              <span class="glyphicon glyphicon-log-out text-danger" aria-hidden="true" style="font-size: 20px"></span>
            <% end %>
          </li>
          <li>
            <%= link_to(new_post_path) do %>
              <span class="glyphicon glyphicon-pencil text-danger" aria-hidden="true" style="font-size: 20px"></span>
            <% end %>
          </li>
        </ul>
    　</header>
    <% end %>
    <%= yield %>
  </body>
</html>
